_reference
netlify/functions/node_modules

# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
dist-ssr/

# env files
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Netlify
.netlify/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
